<div class="container" class="full-background">
  <div class="row align-items-center h-100">
    <div class="card col-6 text-center pt-1 mx-auto bg-warning">
      <img class="card-img-top mx-auto avatar" style="width: 200px; height: 200px;" [src]="currentPlayer?.assignedPlayer?.img" *ngIf="end===false && currentPlayer?.assignedPlayer">
      <div class="card-body text-primary">
        <div *ngIf="end===false && start===false">
          <h3>Bienvenue sur le noël de la Team appétit</h3>
          <button class="btn btn-success" (click)="beginDurty()">Commencer a jouer</button>
        </div>

        <div *ngIf="start===true && end===false && !currentPlayer?.assignedPlayer">
          <div class="pb-3">
              <label for="player">Qui est-tu ?</label>
              <select [(ngModel)]="currentPlayer" class="form-control" id="player">
                <option selected [ngValue]="null"></option>
                <option *ngFor="let survivor of survivors" [ngValue]="survivor">
                  {{survivor.name}}
                </option>
              </select>
          </div>
          <button *ngIf="currentPlayer !== null" class="btn btn-success" (click)="assignPlayer()">Découvre ton lutin</button>
        </div>

        <div *ngIf="end===false && currentPlayer?.assignedPlayer">
          <h2>Ton lutin est <strong>{{currentPlayer?.assignedPlayer?.name}}</strong></h2>
          <h3>{{currentPlayer.assignedPlayer.speech}}</h3>
        </div>

        <div *ngIf="end===true">
          <h3>Merci à tous on se retrouve samedi pour les cadeaux. Joyeux noël à tous</h3>
        </div>
      </div>
    </div>
  </div>
</div>
